@page
@model webSiteCore.Pages.AlumnoModel
@{
    ViewData["Title"] = "Alumno";
}

<div class="text-center">
    <h1 class="display-4">Alumno</h1>
    <p>aca hay que ver para meter coso grilla</p>
</div>